.container-grid {
    display: grid;
    
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 128vh;
    grid-template-areas:
                         "main aside"
                         
  }
  @media only screen and (max-width: 850px) {
    .container-grid {
        display: grid;
        grid-template-columns:3fr;
        grid-template-rows: 40vh 100vh;
        grid-template-areas: "aside"
                             "main"
    }
    .main-grid {
        
        grid-area: main;
      }
      
      .aside-grid {
       
        
        grid-area: aside;
      }
  }
   
  
  .main-grid {
  
    height: 100%;     
    grid-area: main;
  }
  
  .aside-grid {
  
    height: 100%;     
    
    grid-area: aside;
  }

  
  
 
  
.icon { 
    padding: 10px; 
    
    min-width: 50px; 
    text-align: center; 
}