.container-cart-grid {
    display: grid;
    
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 128vh;
    grid-template-areas:
                         "aside main main-aside"
                         
  }
  @media only screen and (max-width: 850px) {
    .container-cart-grid {
        display: grid;
        grid-template-columns:3fr;
        grid-template-rows: 40vh 100vh;
        grid-template-areas: "aside"
                             "main"
    }
    .main-cart-grid {
        background: blue;
        grid-area: main;
      }
      
      .aside-cart-grid {
        background: green;
        
        grid-area: aside;
      }
  }
   
  
  .main-cart-grid {
    background: blue;
    height: 100%;     
    grid-area: main;
  }
  .main-aside-cart-grid {
    background: green;
    height: 100%;     
    grid-area: main-aside;
  }
  
  .aside-cart-grid {
    background: green;
    height: 100%;     
    
    grid-area: aside;
  }